name: Build conda packages

on: [push, pull_request]

jobs:
  build:
    name: Build (py${{ matrix.pyversion }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-13", "macos-latest"]
        pyversion: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          channels: conda-forge
          channel-priority: true
          activate-environment: pyarts-build
          environment-file: etc/environment-pyarts-build.yml
      - shell: bash -l {0}
        run: |
          conda info
          conda list
          conda config --show-sources
          conda config --show
          printenv | sort
      - shell: bash -l {0}
        run: conda mambabuild --no-anaconda-upload --python=${{ matrix.pyversion }} pyarts
      - uses: actions/upload-artifact@v4
        if: runner.os == 'Linux'
        with:
          name: pyarts-conda-package-${{ matrix.os }}-py${{ matrix.pyversion }}
          path: /home/runner/miniconda3/envs/pyarts-build/conda-bld/*/pyarts-*.tar.bz2
      - uses: actions/upload-artifact@v4
        if: runner.os == 'macOS'
        with:
          name: pyarts-conda-package-${{ matrix.os }}-py${{ matrix.pyversion }}
          path: /Users/runner/miniconda3/envs/pyarts-build/conda-bld/*/pyarts-*.tar.bz2
